@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  width: 100dvw;
  height: 100dvh;
  background-color: c.$C_PRIMARY_DEFAULT;
  position: relative;

  > h1 {
    @include m.fontH1;
    margin-top: 20px;
  }
}
