$C_BLACK: #000000;

// NOTE: PRIMARY
$C_PRIMARY_DEFAULT: #755aaf;
$C_PRIMARY_DARK: #191f28;
$C_PRIMARY_LIGHT: #f8f9fa;
$C_PRIMARY_WHITE: #ffffff;
$C_PRIMARY_DISABLED: #474747;

// NOTE: SECONDARY
$C_SECONDARY_DEFAULT: #6b7583;
$C_SECONDARY_DARK_1: #8b94a1;
$C_SECONDARY_DARK_2: #cbd1dc;
$C_SECONDARY_LIGHT: #f8f9fa;
$C_SECONDARY_LIGHT_BLUE: #eaf3fe;

// NOTE: GRAY
$C_GRAY_1: #434343;
$C_GRAY_2: #7c7c7c;
$C_GRAY_3: #8d8d8d;
$C_GRAY_4: #b9b9b9;
$C_GRAY_5: #e1e1e1;
$C_GRAY_6: #f1f1f3;
