$E_NAV_LIGHT: 0 0 15px rgba(0, 0, 0, 0.25);
$E_NAV_EFFECT_DARK: 0 0 25px rgba(0, 0, 0, 0.85);
$E_ICON: 0 0 6px rgba(0, 0, 0, 0.6);
$E_TEXT: 0 0 9px rgba(0, 0, 0, 0.75);
$E_BTN: 0 2px 4px rgba(0, 0, 0, 0.15);
$E_TEXT_FIELD: 0 0 4px rgba(0, 0, 0, 0.05);
$E_PURCHASE: 0px 2px 4px rgba(5, 16, 55, 0.06);
$E_DASHBOARD_EFFECT: 0px 7px 25px 2px rgba(0, 0, 0, 0.1);
