$S_HEADER_HEIGHT: 36px;
$S_CONTENT_TOP_GAP: 19px;
$S_BOTTOM_NAVIGATOR_HEIGHT: 65px;
$S_PAGE_HORIZONTAL_GAP: 20px;

$S_HEADER_FIXED_HEIGHT: $S_HEADER_HEIGHT + $S_CONTENT_TOP_GAP;

$S_SETTING_HEADER_PADDING_BOTTOM: 20px;
