@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flex(center, center, column);
  width: 100dvw;
  height: 100dvh;
  background-color: c.$C_PRIMARY_DEFAULT;
  position: relative;

  h2 {
    @include m.fontH2;
  }

  .container {
    @include m.flex(center, center, column);
    row-gap: 40px;
    width: 40%;
    padding: 20px;
    background-color: c.$C_PRIMARY_WHITE;

    border-radius: 10px;
  }

  .server {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    row-gap: 12px;

    .input {
      width: 100%;
    }
  }

  .footer {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    row-gap: 12px;
    .buttons {
      @include m.flex(space-between, center, row);
      width: 100%;
    }
  }
}
